<% post = Post.find_by(id:id) %>
<% if post %>
    <div style = 'padding: 15px 0 0;'>
        <div class = 'card'>
            <div class='card-body'>
                <form action = <%="/post/#{id}/edit"%> method = 'post'>
                    <h5 class = 'card-title'>Редактирование поста</h5>
                    <input type = 'hidden' name = 'authenticity_token' value = '<%= form_authenticity_token %>'>
                    <input type = 'hidden' name = 'post[id]' value = '<%= post.id %>'>
                    <input type = 'heading' name = post[heading] value = <%= post.heading %>>
                    <input type = 'text' name = post[text] value = <%= post.text %>><br>
                    <input type = 'submit' name = 'submit' value = 'Поменять'>
                </form>
            </div>
        </div>
    </div>
<% end %>