<% post = Post.find_by(id:id) %>
<div style='padding: 10px 0;'>
    <div class = 'card'>
        <div class='card-body'>
            <% if post %>
                <h5 class='card-title'><%= post.heading%></h5>
                <p class='card-text'><%= post.text%></p>
                <%= link_to 'Ссылка', "/post/#{post.id}", class: "link-dark" %>
                <p>Пост от: <%= link_to "#{User.find(post.user_id).login}", "/user/#{post.user_id}", class: "link-secondary" %></p>
                <p class='card-text'><%= post.created_at%></p>
                <!--p class='card-text'><%= post.updated_at%></p-->
            <% else %>
                <h5 class='card-title'>Такой пост не существует</h5>
            <% end %>
        </div>
    </div>
</div>
