<% post = Post.find_by(id:id) %>
<% if post %>
    <div style = 'padding: 15px 0 0;'>
        <div class = 'card'>
            <div class='card-body'>
                <form action = <%="/post/#{id}/edit"%> method = 'post'>
                    <h5 class = 'card-title'>Редактирование поста</h5>
                    <input type = 'hidden' name = 'authenticity_token' value = '<%= form_authenticity_token %>'>
                    <input type = 'hidden' name = 'post[id]' value = '<%= post.id %>'>
                    <input class = 'form-control' type = 'heading' name = post[heading] value = <%= post.heading %>>
                    <textarea class = 'form-control' style="resize: none; height: 100px" type = 'text' name = post[text] placeholder = 'Текст'><%= post.text %></textarea>
                    <select name = 'status'>
                        <option value = 'close'>Закрытый</option>
                        <option value = 'open'>Открытый</option>
                    </select>
                    <input class = 'btn btn-primary' type = 'submit' name = 'submit' value = 'Поменять'>
                </form>
            </div>
        </div>
    </div>
<% end %>